/* Formatting of the logo */
.logo{
    margin-top: 2px;
    height: 30px;
    width: 140px;

}

/* Formatting of the logout Logo */
.logoutLogo{
    margin-top: 5px;
    height: 45px;
    width: 140px;
}

/* Formatting of the icon of the Red Book */
.icon{
    display: block;
    margin-top: 6px;
    height: 10px;
    width: 10px;
}

/* Formatting of the user icon in the top navigation bar */
#userIcon{
    height: 30px;
    width: 40px;
    padding-top: 5px;
}

/* START TOP NAVIGATION
-------------------------*/

/* Formatting of the main navigation bar list at the top */
nav[role="main"] ul{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

/* Each link will be in a block format without the hyperlink formatting
   making it look like a navigation bar */
nav[role="main"] li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    background-color: #93163A;
    width:100px;
}

/* Formatting of the actual list items in the Menu Bar */
nav[role="main"] li {
    display: inline;
    float: right;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
}

/* The user name will be in Open Sans and slightly bolded */
#usersName{
    padding-top: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    color: #93163A
}

/* The navigation bar will be fixed to the top of the screen and will take the 
   full width */
#topNav{
    width: 100%;
    position: fixed;
}

/* END TOP NAVIGATION 
-----------------------*/

/* START SIDE NAVIGATION
--------------------------*/

/* The formatting of the side navigation bar, it will take the full height of
   the page and will be in a fixed position */
nav[role="side"] ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    background-color: #C5B5B9;
    width: 180px;
    height: 100%;
    position: fixed;
    overflow: auto;
    left: 0;
    padding-top: 20px;
}

/* Each item will be formatted to look like a menu item rather than a hyperlink */
nav[role="side"] li a{
    display: block;
    color: white;
    padding: 10px 16px 16px 16px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: lighter;
    text-decoration: none;
}

/* When the user hovers over the menu, it will get bolder */
nav[role="side"] li a:hover{
    color: #93163A;
    font-weight: bold;
}

/* END SIDE NAVIGATION
-----------------------*/

/* Formatting of the entry items in the table */
.table {
        /* Layout Formatting */
        background-color: white;
        padding-top: 10px;
        padding-right: 40px;
        padding-bottom: 30px;
        padding-left: 50px;
        text-align: center; 
        margin-top: 0px;
        margin-left: 300px; 
        margin-right: auto; 

        /* Font styling */
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: black;
}

/* Formatting of the new entry */
.newEntry {
       background-color: white;
       padding-top: 10px;
       padding-right: 30px;
       padding-bottom: 30px;
       padding-left: 50px;
       text-align: center; 
       font-family: 'Open Sans';
       font-style: normal;
       font-weight: normal;
       font-size: 20px;
       color: black;
       margin-top: 0px;
       margin-left: 320px; 
       margin-right: 150px; 
       margin-bottom: 50px;
}

/* Formatting of the entries menu */
#entriesMenu{
    background-color: #494949;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    margin-top: 10px;
    margin-right: auto;
    font-size: 12px;
    padding-bottom: 0px;
    padding-top: 10px;
    height: 70px;
    padding-left: 180px;
}

/* Each item in the menu will be ahve a 5px padding to the top */
#entriesMenu td{
    padding-top: 0px;
}

/* The button to add the Entry */
.addEntry{
    float: right;
    margin-top: 0px;
    margin-right: 10px;
    text-align: right;
    font-family: 'Open Sans';
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

/* The Link will have no underline */
.addEntry a:link{
    text-decoration: none;
}

/* When hovering over the button, It will get bolder */
.addEntry a:hover{
    color: #93163A;
    font-weight: 700;
    text-decoration: none;

}

/* To see the hidden button */
#seeHiddenBtn{
    margin-top: 13px;
    float: right;
    margin-right: 30px;

}

/* The button to hide entries */
.hideBtn{
    float: right;
    margin-right: 30px;
}

/* The Formatting of the journal add table */
#journalAddTable{
    background-color: transparent;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

/* The aligning of the Buttons */
#alignmentBtn{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding-bottom: 60px;
}

/* Formats the layout of how the journal will be positioned */
#journalPosition{
    background-color: transparent;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 220px;
    margin-right: auto;
    font-size: 20px;
}

/* Formating of the jorunal Title */
.journalTitle{
    width: 180px;
    position:absolute;
    top:20%;
    left:17%; 
    right:0;
    font-weight: bold;
    text-align:center;
    strong {display:block;}

}

/* Formatting of the actual Journal*/
.journal{
    margin:auto;
    height:auto;
    text-align: center;
    font-weight: bold;
    position:relative;
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
}

/* Formatting of the entry table */
#entriesTable{
    background-color: transparent;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    margin-top: 80px;
    margin-left: 300px;
    margin-right: auto;
    font-size: 14px;
}

/* Formatting of the Text if there are no entries */
#noEntries{
    background-color: transparent;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    margin-top: 80px;
    margin-left: 500px;
    margin-right: auto;
    font-size: 20px;
    border: none;
}

/* Formatting of the list of entries */
.entryList{
    background-color: #93163A;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    margin-top: 0px;
    margin-left: 175px;
    margin-right: auto;
    font-size: 14px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

/* Formatting of each row in the entry table */
.entryList tr{
    padding-left: 10px;
    height: 30px;
}

/* The formatting of when you hover over an entry */
.entryList tr:hover{
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    font-weight: bold;
}

/* Formatting of each entry */
.entryList td{
    text-align: center;
    vertical-align: middle;
    padding-right: 30px;
}

.eContent {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  white-space: nowrap;
}

/* Formatting of the Title of each entry */
#entryTitle{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    padding-top: 10px;
}

/* Formatting of the content in each entry */
#content{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    text-align: left;
}

/* Formatting of the body of the page */
body{
    background-color: lightblue;
    margin: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    color: black;
    height:100%;
    width:100%;
}

/* Formatting of Heading 1 */
.head1{
    text-align: center;
    padding-top: 30px;
    color: white;
}

/* Formatting of Heading 2 */
.head2{
    text-align: center;
    padding-top: 0px 0px 0px 0px;
    font-size: 25px;
    margin: 0px 0px 0px 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
}

/* Formatting of Heading 3 */
.head3{
    text-align: center;
    padding-top: 0px 0px 0px 0px;
    font-size: 18px;
    margin: 0px 0px 0px 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    color: white;
}

/*Formatting of Header 4 */
.head4{
    text-align: center;
    padding-top: 0px 0px 0px 0px;
    font-size: 10px;
    margin: 0px 0px 0px 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    color: white;
}

/* Formatting of the checkbox of each entry */
.entryCheck{
    margin-top: 20px;
    padding-top: 20px;
    float: left;
    text-align: center;
    vertical-align: middle;
}


/* Formatting of the input box of the entry */
#entryContent{
    width: 100%;
    height: 700px;
}

/* Formatting of the date of the entry */
#date{
    text-align: left; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
}

/* Formatting of the exti symbol to exit out of the entry */
#exitSymbol{
    color: black;
    text-align: right; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    text-decoration: none;
}

/* There is no underline of the Exit Link */
#exitSymbol a:link{
    text-decoration: none;
}

/* Formatting of when you hover over the exit Link */
#exitSymbol a:hover{
    color: #93163A;
    font-weight: 300;
}

/* Formatting if you already clicked the Exit Symbold */
#exitSymbol a:visited{
    color: black;
}

/* Formatting of the button to add an Jorunal */
#add{
    color: white;
    text-align: right; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    text-decoration: none;
}

/* There is no underline in the add button */
#add a:link{
    text-decoration: none;
}

/* Formatting of when you hover over the add button */
#add a:hover{
    color: #93163A;
    font-weight: 300;
}

/* Formatting of when you have already clicked on the add button */
#add a:visited{
    color: white;
}

/* Formatting of when the button when you add an entry */
.addEntry{
    text-align: right;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

/* Formatting to remove the underline of the add an entry button */
.addEntry a:link{
    text-decoration: none;
}

/* Formatting of when you hover over the add button */
.addEntry a:hover{
    color: #93163A;
    font-weight: 700;
    text-decoration: none;

}

/* Formatting of when you clicked the add button */
#addEntry a:visited{
    color: white;
    font-weight: 700;
    text-decoration: none;
}

/* Formatting of the add Journal Button */
#addJournal{
    text-align: right;
    padding-right: 200px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}

/* Ensures the underline isn't there in the add journal button */
#addJournal a:link{
    text-decoration: none;
}

/* Formats the add Journal button during hovering */
#addJournal a:hover{
    color: #93163A;
    font-weight: 700;
}

/* Formats the add journal button when clicked */
#addJournal a:visited{
    color: white;
    font-weight: 700;
}

/* Formatst the save an entry button */
#saveBtn{
    margin-align: right;
}

/* Formats the back button */
.backButton{
    margin-align: left;
    height: 10%;
    weight: 10%;
    padding-left: 17%;
    margin-top: 50px;
}

/* Formats the background image */
#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

/* Ensures the background image is stretched fully */
.stretch {
    width:100%;
    height:100%;
}

/* Ensures the View Entry table is floated to the left */
#viewEntryTable{
    float: left;
}

/* Formats the View Date Created */
#viewDateCreated{
    text-align: left; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
}
/* Formatst he view Date Modified */
#viewDateModified{
    text-align: left; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
} 

/* Formats the view Flag */
#viewFlag{
    text-align: left; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
}

/* Formats the entry history list */
#entryHistoryList {
    background: #C5B5B9;
    border-radius: 10px;
    float: right;
    margin-right: 30px;
    padding-bottom: 12px;
    font-size: 12px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 150;
}

/* Formats the history list header */
#historyListHeader{
    background: #93163A;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    padding: 12px 20px;
}

/* Ensures the view entry content is formatted to the left */
#viewEntryContent{
    text-align: left;
}

/* Formats the Visual Wrapper */
.vis-wrapper { 
    display: inline-block;
    margin: 0;
    position: absolute;
    right: 10%;
    transform: translate(-50%, -50%);
}

/* Ensures the visual wrapper and the dropdown are opaque */
.vis-wrapper:hover #vis-dropdown { 
    opacity: 1; 
    display: block; 
}

/* Formats the visual icon */
.vis-icon {
    color: #fff;
    font-weight:700;
    padding-right:20px;
    padding-left:30px;
    display:inline-block;
    font-size:11px;
    text-align:right;
    text-decoration:none;
    position:relative;
    left: 0; top: 0;
}

/* Formats the vis icon before clicked */ 
.vis-icon:before {
    content:'\25BE';
    width:0px;
    height:0;
    position:absolute;
    right:16px;
    top: 0;
}

/* Formats the visual icon hover before */
.vis-icon:hover:before { 
    color: #d13030;
    content: '\25B4';
    top: -1px;
}

/* ------------------ Visibility DROPDOWN Start ------------------ */

/* Formats the visual dropdown */
#vis-dropdown {
    opacity: 0;
    width: 70px;
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0px 3px 3px #000000;
}

/* Formats the visual dropdown in header 3 */
#vis-dropdown h3 {
    color: #d13030;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 15px 0px 15px;
}

/* Formats the paragraph section in the vis dropdown */
#vis-dropdown p {

    font-size: 12px;
    padding: 0px 0px 10px 15px;
}

/* Formats the link of the visual dropdown */
#vis-dropdown a {
    padding: 0px 0px 0px 15px;
}

/* Formats the links in the visual dropdown */
.vis-links {
    font-size: 12px;
    text-decoration: none;
    color: #93163A;
}

/* Formats the hover feature of the visual dropedown to have a underline */
.vis-links:hover {
    text-decoration: underline;

}

/* ------------------ Visibility DROPDOWN Fin ------------------ */

/* ------------------ Edit Journal Field Alignment Start -------------- */

.journalDetails {
    display: block;
} 

/* Edit Journal Save Button  */
#editJournalDetSaveBtn {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Edit Journal Cancel Button  */
#editJournalDetCancelBtn {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 40%;
    transform: translate(-50%, -50%);
}

/* Edit Journal Title Text Field */
#journalDetTitleInput {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

/* Edit Journal Description Text Field */
#journalDetDescInput {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

/* ----------------- Edit Journal Field Fin --------------- */

/* ----------------- Edit Journal Modal Start --------------- */

/* Edit Journal Details Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Edit Journal Details Modal Content */
.modal-content {
    text-align: center;
    bottom: 0;
    background-color: #93163A;
    color: white;
    width: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

/* Edit Journal Details Modal Title */

.modal-header {
    padding: 2px 16px;
    background-color: #93163A;
    color: white;
}

/* Edit Journal Details Modal Body */

.modal-body {
    padding: 2px 16px;
}

/* Edit Journal Details Modal Footer */

.modal-footer {
    padding: 2px 16px;
    background-color: #93163A;
    color: white;
}

/* ----------------- Edit Journal Modal Fin --------------- */

/* ------------------ Help Styling Start ------------------ */

/* Formatting of the Help Content table */
.helpTable {
    background-color: white;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    text-align: left;
    margin-top: 0px;
    margin-left: 170px;
    margin-right: auto;
    font-family: 'Open Sans';
}

/* The header 1 of help section */
#helpH1 {
    color: #93163A;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding-top: 30px;
}

/* The header 2 of the help section */
#helpH2 {
    font-style: normal;
    font-weight: bolder;
    font-size: 12px;
    color: black;
    padding-top: 10px;
}

/* Formatting of header 2 */
h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* The formatting of the help Body */
#helpBody{
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: black;
    text-indent: 20px;
}

/* The formatting of the header of the help section */
#helpHeader{
    text-align: center;
    padding-top: 80px;
    color: white;
    font-size: 30px;
    margin-left: 185px;
}

/* The formatting of the help menu */
#helpMenu{
    background-color: #494949;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    margin-top: 60px;
    margin-right: auto;
    font-size: 16px;
    padding-bottom: 0px;
    height: 40px;
    padding-left: 180px;
}

.current{
    background-color: #9e5a6d;
    font-weight: bold;
    text-decoration: none;
}

 /* ------------------ Help Styling Fin ------------------ */

 /* ------------------ Commenting Styling Start ------------------ */ 
 
 /* The formatting of the comment header */
 #commentHeader {
     background: #93163A;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    padding: 12px 20px;
 }
 
  /* The formatting of the comment section itself */
 #commentDiv {
    margin-top: 50px;
 }
 
 /* The formatting of the comment date */
 #commentDate {
    font-size: 10px;
    text-align: left;
 }
 
  /* The formatting of the comment  */
 #commentContent {
    font-size: 14px;
    text-align: left;
 }
 
   /* The formatting of the comment input field  */
 #addCommentTxt {
     width: 80%;
     margin-right: 10px;
 }
 
    /* The formatting of the no comment message  */
 #noComments {
     font-size: 15px;
     text-align: center;
 }
  /* ------------------ Commenting Styling Fin ------------------ */ 

  #loginDetailErr{
      font-size: 30px;
      text-color: red;
  }