/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/09/2017, 8:23:06 PM
    Author     : ramuu
*/
ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
}

ul li:first-child{
    margin-right: 5%;
}

li a {
    display: block;
    color: #494949;
    text-align: center;
    padding: 15px 15px 15px 15px;
    margin-top: 10%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 24px; 
    background-color: #e3eaee;
    width: 90px;
    height: 18px;
    box-shadow: 2px 2px 2px #494949;
}

li {
    display: inline;
    float: right;
    padding: 5px;
}

.logo{
    margin-top:10px;
    margin-left: 5px;
    height: 50px;
    width: 160px;
    display: inline;
    float: left;
}

#titleName{
    font-size: 30px; 
    font-style: bold;
    padding-left: 10%;
}

#Navigation{
    width: 100%;
    position: fixed;
}

body{
    background-color: tomato;
    margin: 0px;
    color: white;
    height:100%;
    width:100%;
   font-family: sans-serif;
}


.MainText {
    color: white;
    float:inside;
    top:50%;
    left:25%;
    position:absolute;
    ont-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
   
}


.bold {
    font-weight: bold;
    font-size:40px;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}

.subtext {
    font-size: 18px;
    padding-left: 25px;
    width:80%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
}

.Button {
    font-size: 11px;
    color: white;
    text-align: center;
    border-radius: 12px;
    background-color: #93163A; 
    padding:5px 15px; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 

}
