/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

.logo{
    height: 50px;
    width: 160px;
}

h1 {
    font-size: 30px; 
    font-style: bold;
    text-align: center;
    color: white;
}

#Navigation{
    width: 100%;
    position: fixed;
}

body{
    background-color: #93163A;
    margin: 0px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bold;
    color: #93163A;
    height:100%;
    width:100%;
   font-family: sans-serif;
}

table {background-color: white;
       padding-top: 100px;
       padding-right: 50px;
       padding-bottom: 100px;
       padding-left: 50px;
       margin-top: 20px;
       text-align:center; 
       font-family: 'Helvetica Neue';
       font-style: normal;
       font-weight: normal;
       color: #93163A;
       margin-left:auto; 
       margin-right:auto; 
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}
