/* Sets the formatting of the logo */
.logo{
    height: 50px;
    width: 160px;
}

/* Sets the formatting of the Icon */
.icon{
    height: 10%;
    width: 10%;
}

/* Sets the formatting of the Back Button */
.backButton{
    text-align: left ;
    height: 30px;
    width: 30px;
    padding-left: 10%;
}

/* Sets the formatting of the body */
body{
    background-color: #93163A;
    margin: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    color: #93163A;
    height:100%;
    width:100%;
}

/* Sets the formatting of the table */
table {
   /* Formatting of the layout */
   background-color: white;
   padding-top: 100px;
   padding-right: 70px;
   padding-bottom: 100px;
   padding-left: 70px;
   margin-top: 20px;
   
   /* Formatting of the Text in the table */
   text-align:center; 
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: normal;
   font-size: 10px;
   text-decoration: underline;
   color: #93163A;
   margin-left:auto; 
   margin-right:auto; 
   border-radius: 20px;
}

/* Sets the formatting of the background */
#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

/* Ensures the background image is stretched fully */
.stretch {
    width:100%;
    height:100%;
}
