/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/09/2017, 4:43:21 PM
    Author     : SophiePapworth
*/

.logo{
    margin-top: 2px;
    height: 30px;
    width: 140px;
}

.logoutLogo{
    margin-top: 5px;
    height: 45px;
    width: 140px;
}

.icon{
    display: block;
    margin-top: 6px;
    height: 10px;
    width: 10px;
}

/* START TOP NAVIGATION */
nav[role="main"] ul{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

nav[role="main"] li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    background-color: #93163A;
    width:100px;
}

nav[role="main"] li {
    display: inline;
    float: right;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
}

#usersName{
    padding-top: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    color: #93163A
}

#topNav{
    width: 100%;
    position: fixed;
}

/* END TOP NAVIGATION */

/* START SIDE NAVIGATION */
nav[role="side"] ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    background-color: #C5B5B9;
    width: 180px;
    height: 100%;
    position: fixed;
    overflow: auto;
    left: 0;
}

nav[role="side"] li a{
    display: block;
    color: white;
    padding: 10px 16px 16px 16px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: lighter;
    text-decoration: none;
}

nav[role="side"] li a:hover{
    color: #93163A;
    font-weight: bold;
}

/* END SIDE NAVIGATION */

.table {background-color: white;
       padding-top: 10px;
       padding-right: 50px;
       padding-bottom: 30px;
       padding-left: 50px;
       text-align: center; 
       font-family: 'Open Sans';
       font-style: normal;
       font-weight: normal;
       font-size: 20px;
       color: black;
       margin-top: 0px;
       margin-left: 300px; 
       margin-right: 150px; 
}

#entriesMenu{
    background-color: #494949;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 170px;
    margin-right: auto;
    font-size: 16px;
    padding-bottom: 0px;
    height: 40px;
    padding-left: 800px;
}

#entriesMenu td{
    padding-top: 5px;
}

.addEntry{
    float: right;
    margin-top: 0px;
    margin-right: 10px;
    text-align: right;
    font-family: 'Open Sans';
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.addEntry a:link{
    text-decoration: none;
}

.addEntry a:hover{
    color: #93163A;
    font-weight: 700;
    text-decoration: none;

}

#seeHiddenBtn{
    margin-top: 13px;
    float: right;
    margin-right: 30px;

}

.hideBtn{
    float: right;
    margin-right: 30px;
}

#journalAddTable{
    background-color: transparent;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: auto;
    font-size: 20px;
}

#journalPosition{
    background-color: transparent;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: auto;
    font-size: 20px;
}

.journalTitle{
    position:absolute;
      top:36%;
      left:0; 
      right:0;
      font-weight: bold;
      text-align:center;
      strong {display:block;}
    
}

.journal{
    margin:auto;
    height:auto;
    text-align: center;
    font-weight: bold;
    position:relative;
}

#entriesTable{
    background-color: transparent;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    margin-top: 80px;
    margin-left: 300px;
    margin-right: auto;
    font-size: 14px;
}

#noEntries{
    background-color: transparent;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    margin-top: 80px;
    margin-left: 500px;
    margin-right: auto;
    font-size: 20px;
    border: none;
}

.entryList{
    background-color: #93163A;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    margin-top: 0px;
    margin-left: 175px;
    margin-right: auto;
    font-size: 14px;
    border-bottom: 0.2px solid white;
    border-top: 1px solid white;
}

.entryList tr{
    padding-left: 10px;
    height: 30px;
}

.entryList tr:hover{
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    font-weight: bold;
}

.entryList td{
    text-align: center;
    vertical-align: middle;
}

#entryTitle{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    padding-top: 10px;
}

#content{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    text-align: left;
}

body{
    background-color: lightblue;
    margin: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    color: black;
    height:100%;
    width:100%;
}

h1{
    text-align: center;
    padding-top: 30px;
    color: white;
}

h2{
    text-align: center;
    padding-top: 0px 0px 0px 0px;
    font-size: 25px;
    margin: 0px 0px 0px 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
}

h3{
    text-align: center;
    padding-top: 0px 0px 0px 0px;
    font-size: 18px;
    margin: 0px 0px 0px 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    color: white;
}

h4{
    text-align: center;
    padding-top: 0px 0px 0px 0px;
    font-size: 10px;
    margin: 0px 0px 0px 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    color: white;
}

.entryCheck{
    padding-top: 20px;
    float: left;
    text-align: center;
    vertical-align: middle;
    margin-top: 18px;
}


#entryContent{
    width: 700px;
    height: 700px;
}

#date{
    text-align: left; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
}

#X{
    color: black;
    text-align: right; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    text-decoration: none;
}

#X a:link{
    text-decoration: none;
}

#X a:hover{
    color: #93163A;
    font-weight: 300;
}

#X a:visited{
    color: black;
}

#add{
    color: white;
    text-align: right; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    text-decoration: none;
}

#add a:link{
    text-decoration: none;
}

#add a:hover{
    color: #93163A;
    font-weight: 300;
}

#add a:visited{
    color: white;
}

.addEntry{
    text-align: right;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.addEntry a:link{
    text-decoration: none;
}

.addEntry a:hover{
    color: #93163A;
    font-weight: 700;
    text-decoration: none;

}

#addEntry a:visited{
    color: white;
    font-weight: 700;
    text-decoration: none;
}

#addJournal{
    text-align: right;
    padding-right: 200px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}

#addJournal a:link{
    text-decoration: none;
}

#addJournal a:hover{
    color: #93163A;
    font-weight: 700;
}

#addJournal a:visited{
    color: white;
    font-weight: 700;
}

#saveBtn{
    text-align: center; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    margin-align: right;
}

.backButton{
    margin-align: left;
    height: 10%;
    weight: 10%;
    padding-left: 17%;
}

#journalIcon{
    position: fixed;
    height: 100px;
    width: 75px;
    color: white;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}
#viewEntryTable{
    float: left;
}

#viewDateCreated{
    text-align: left; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
}

#viewDateModified{
    text-align: left; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
} 

#viewFlag{
    text-align: left; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
}

#entryHistoryList {
    float: left;
}

#viewEntryContent{
    text-align: left;
}

